body {
  margin: 0px;

}
button {font-size: 80%;}

.myDiv {
    background-color: #000;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #000;
    width: 100%;
    position: relative;
}
.stars {
  max-width: 100%;
  height: 1000px;
  background-image: url('http://destinyarlotta.com/final_project/images/stars.jpg');
  background-color: #000;


}


#homepage {color: #000;
    cursor: pointer;
  background: #976;
  font-size: 180%;
  padding: 10px 20px;
  margin-left:10px;
  margin-right:10px;


}


p {text-align: left;
}

h1 {
  text-align: center;
}

h4 {
margin: 20px;
    color: #000;
    background: #fff;
    position:relative;
    padding: 20px;
}


#back2Top {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 0;
    background-color: #DDD;
    color: #555;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}
#back2Top:hover {
    background-color: #DDF;
    color: #000;
}
#aries_info {
padding: 50px;
  color: #25277F;
  text-align: center;
  margin: 30px;
    background-color: #fff;
    border: 1px solid black;
    opacity: 0.8;
    filter: alpha(opacity=60);
  }
  #aries_intro {
  padding: 50px;
    color: #25277F;
    text-align: center;
    margin: 30px;
      background-color: #fff;
      border: 1px solid black;
      opacity: 0.8;
      filter: alpha(opacity=60);
}

#pisces_info {
  padding: 50px;
    color: #25277F;
    text-align: center;
    margin: 30px;
      background-color: #fff;
      border: 1px solid black;
      opacity: 0.8;
      filter: alpha(opacity=60);
    }
      #pisces_intro {
        padding: 50px;
          color: #25277F;
          text-align: center;
          margin: 30px;
            background-color: #fff;
            border: 1px solid black;
            opacity: 0.8;
            filter: alpha(opacity=60);
}
#taurus_info {
  padding: 50px;
    color: #25277F;
    text-align: center;
    margin: 30px;
      background-color: #fff;
      border: 1px solid black;
      opacity: 0.8;
      filter: alpha(opacity=60);

    }
    #taurus_intro {
      padding: 50px;
        color: #25277F;
        text-align: center;
        margin: 30px;
          background-color: #fff;
          border: 1px solid black;
          opacity: 0.8;
          filter: alpha(opacity=60);
}
#aquarius_info {
  padding: 50px;
    color: #25277F;
    text-align: center;
    margin: 30px;
      background-color: #fff;
      border: 1px solid black;
      opacity: 0.8;
      filter: alpha(opacity=60);
}
      #aquarius_intro {
        padding: 50px;
          color: #25277F;
          text-align: center;
          margin: 30px;
            background-color: #fff;
            border: 1px solid black;
            opacity: 0.8;
            filter: alpha(opacity=60);
}
#gemini_info {
  padding: 50px;
    color: #25277F;
    text-align: center;
    margin: 30px;
      background-color: #fff;
      border: 1px solid black;
      opacity: 0.8;
      filter: alpha(opacity=60);

    }
    #gemini_intro {
      padding: 50px;
        color: #25277F;
        text-align: center;
        margin: 30px;
          background-color: #fff;
          border: 1px solid black;
          opacity: 0.8;
          filter: alpha(opacity=60);

}
#capricorn_info {
  padding: 50px;
    color: #25277F;
    text-align: center;
    margin: 30px;
      background-color: #fff;
      border: 1px solid black;
      opacity: 0.8;
      filter: alpha(opacity=60);

    }
    #capricorn_intro {
      padding: 50px;
        color: #25277F;
        text-align: center;
        margin: 30px;
          background-color: #fff;
          border: 1px solid black;
          opacity: 0.8;
          filter: alpha(opacity=60);
}
#cancer_info {
  padding: 50px;
    color: #25277F;
    text-align: center;
    margin: 30px;
      background-color: #fff;
      border: 1px solid black;
      opacity: 0.8;
      filter: alpha(opacity=60);

    }
    #cancer_intro {
      padding: 50px;
        color: #25277F;
        text-align: center;
        margin: 30px;
          background-color: #fff;
          border: 1px solid black;
          opacity: 0.8;
          filter: alpha(opacity=60);
}
#sagittarius_info {
  padding: 50px;
    color: #25277F;
    text-align: center;
    margin: 30px;
      background-color: #fff;
      border: 1px solid black;
      opacity: 0.8;
      filter: alpha(opacity=60);

    }
    #sagittarius_intro {
      padding: 50px;
        color: #25277F;
        text-align: center;
        margin: 30px;
          background-color: #fff;
          border: 1px solid black;
          opacity: 0.8;
          filter: alpha(opacity=60);
}
#leo_info {
  padding: 50px;
    color: #25277F;
    text-align: center;
    margin: 30px;
      background-color: #fff;
      border: 1px solid black;
      opacity: 0.8;
      filter: alpha(opacity=60);

    }
    #leo_intro {
      padding: 50px;
        color: #25277F;
        text-align: center;
        margin: 30px;
          background-color: #fff;
          border: 1px solid black;
          opacity: 0.8;
          filter: alpha(opacity=60);
}
#scorpio_info {
  padding: 50px;
    color: #25277F;
    text-align: center;
    margin: 30px;
      background-color: #fff;
      border: 1px solid black;
      opacity: 0.8;
      filter: alpha(opacity=60);
}
#scorpio_intro {
  padding: 50px;
    color: #25277F;
    text-align: center;
    margin: 30px;
      background-color: #fff;
      border: 1px solid black;
      opacity: 0.8;
      filter: alpha(opacity=60);
}
#virgo_info {
  padding: 50px;
    color: #25277F;
    text-align: center;
    margin: 30px;
      background-color: #fff;
      border: 1px solid black;
      opacity: 0.8;
      filter: alpha(opacity=60);

    }
    #virgo_intro {
      padding: 50px;
        color: #25277F;
        text-align: center;
        margin: 30px;
          background-color: #fff;
          border: 1px solid black;
          opacity: 0.8;
          filter: alpha(opacity=60);
}
#libra_info {
  padding: 50px;
    color: #25277F;
    text-align: center;
    margin: 30px;
      background-color: #fff;
      border: 1px solid black;
      opacity: 0.8;
      filter: alpha(opacity=60);
}

#libra_intro {
  padding: 50px;
    color: #25277F;
    text-align: center;
    margin: 30px;
      background-color: #fff;
      border: 1px solid black;
      opacity: 0.8;
      filter: alpha(opacity=60);
}

.container .first {padding-top:60px;text-align:center;}
.container .second {text-align:center;}
.container .third {margin:10px;text-align:center;}
.container .fourth {margin:10px;text-align:center;}
.container .fifth {margin:10px;text-align:center;}
.container .sixth {text-align:center;}
.container .seventh {margin-top:10px;padding-bottom:100px;text-align:center;}

#pisces {margin-right: 10px;}
#taurus {margin-left:10px;}
#aquarius {margin-right: 60px;}
#gemini {margin-left: 60px;}
#capricorn{margin-right: 100px;}
#cancer {margin-left:100px;}
#sagittarius{margin-right: 60px;}
#leo {margin-left:60px;}
#scorpio{margin-right: 10px;}
#virgo {margin-left:10px;}

.biggie {width: 300px;}
@media (max-width: 4000px) {
  body {background:#E6E6FA}
  h4 {background:#E6E6FA}
  img {width: 210px;
    opacity: 0.85;
      filter: alpha(opacity=50);
      cursor: pointer;
  }
  img:hover {
      opacity: 1.0;
      filter: alpha(opacity=100);
      width: 250px;
  }
  .stars {width: 100%;}
  .myDiv {width: 100%;}
  .myDiv {margin:0px;}
  .stars {margin:0px;}
  #pisces {margin-right: 5px;}
  #taurus {margin-left:5px;}
  #aquarius {margin-right: 40px;}
  #gemini {margin-left: 40px;}
  #capricorn{margin-right: 70px;}
  #cancer {margin-left:70px;}
  #sagittarius{margin-right: 40px;}
  #leo {margin-left:40px;}
  #scorpio{margin-right: 5px;}
  #virgo {margin-left:5px;}

  }

@media (max-width: 800px) {
  img {width: 180px;
    opacity: 1.0;
  }
  body {background:#E6E6FA}
  h4 {background:#E6E6FA}
  .stars {width: 100%;}
  .myDiv {width: 100%;}
  .myDiv {margin:0px;}
  .stars {margin:0px;}
  #pisces {margin-right: 5px;}
  #taurus {margin-left:5px;}
  #aquarius {margin-right: 40px;}
  #gemini {margin-left: 40px;}
  #capricorn{margin-right: 70px;}
  #cancer {margin-left:70px;}
  #sagittarius{margin-right: 40px;}
  #leo {margin-left:40px;}
  #scorpio{margin-right: 5px;}
  #virgo {margin-left:5px;}

  }

  @media (max-width: 700px) {
    img {width: 170px;}
    body {background:#E6E6FA}
    h4 {background:#E6E6FA}
    .stars {width: 100%;}
    .myDiv {width: 100%;}
    .myDiv {margin:0px;}
    .stars {margin:0px;}
    #pisces {margin-right: 5px;}
    #taurus {margin-left:5px;}
    #aquarius {margin-right: 30px;}
    #gemini {margin-left: 30px;}
    #capricorn{margin-right: 40px;}
    #cancer {margin-left:40px;}
    #sagittarius{margin-right: 30px;}
    #leo {margin-left:30px;}
    #scorpio{margin-right: 5px;}
    #virgo {margin-left:5px;}
    #pisces_info {margin-top: 0px;}

    }

  @media (max-width: 600px) {
    img {width: 140px;}
    body {background:#E6E6FA}
    h4 {background:#E6E6FA}
    .stars {width: 100%;}
    .myDiv {width: 100%;}
    .myDiv {margin:0px;}
    .stars {margin:0px;}
    #pisces {margin-right: 5px;}
    #taurus {margin-left:5px;}
    #aquarius {margin-right: 30px;}
    #gemini {margin-left: 40px;}
    #capricorn{margin-right: 40px;}
    #cancer {margin-left:30px;}
    #sagittarius{margin-right: 30px;}
    #leo {margin-left:30px;}
    #scorpio{margin-right: 5px;}
    #virgo {margin-left:5px;}

  }
  @media (max-width: 500px) {
    img {width: 140px;}
    body {background:#E6E6FA}
    h4 {background:#E6E6FA}
    .stars {width: 100%;}
    .myDiv {width: 100%;}
    .myDiv {margin:0px;}
    .stars {margin:0px;}
    #pisces {margin-right: 5px;}
    #taurus {margin-left:5px;}
    #aquarius {margin-right: 30px;}
    #gemini {margin-left: 40px;}
    #capricorn{margin-right: 40px;}
    #cancer {margin-left:30px;}
    #sagittarius{margin-right: 30px;}
    #leo {margin-left:30px;}
    #scorpio{margin-right: 5px;}
    #virgo {margin-left:5px;}

  }

  @media (max-width: 400px) {
    img {width: 120px;}
    img:hover {
        opacity: 1.0;
        filter: alpha(opacity=100);
        width: 170px;}
    body {background:#E6E6FA}
    h4 {background:#E6E6FA}
    .stars {width: 80%;}
    .myDiv {width: 100%;}
    .myDiv {margin:0px;}
    .stars {margin:0px;}
    #pisces {margin-right: 3px;}
    #taurus {margin-left:3px;}
    #aquarius {margin-right: 15px;}
    #gemini {margin-left: 15px;}
    #capricorn{margin-right: 25px;}
    #cancer {margin-left:25px;}
    #sagittarius{margin-right: 15px;}
    #leo {margin-left:15px;}
    #scorpio{margin-right: 3px;}
    #virgo {margin-left:3px;}

  }
